<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>AviaBooking</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/error/error.jsp</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.RuntimeException</exception-type>
        <location>/WEB-INF/jsp/error/error.jsp</location>
    </error-page>


    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>


    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <trim-directive-whitespaces>true</trim-directive-whitespaces>
        </jsp-property-group>
    </jsp-config>



    <listener>
        <listener-class>
            com.htp.avia_booking.listener.ConnectPoolListener
        </listener-class>
    </listener>


    <servlet>
        <servlet-name>Register</servlet-name>
        <jsp-file>/WEB-INF/jsp/util/register.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>/WEB-INF/jsp/util/login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Logout</servlet-name>
        <jsp-file>/WEB-INF/jsp/util/logout.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Index</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>UserView</servlet-name>
        <jsp-file>/WEB-INF/jsp/user/user_application_view.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserView</servlet-name>
        <url-pattern>/userPageView</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminView</servlet-name>
        <jsp-file>/WEB-INF/jsp/admin/admin_application_view.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminView</servlet-name>
        <url-pattern>/adminPageView</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminViewAllUsers</servlet-name>
        <jsp-file>WEB-INF/jsp/admin/admin_view_users.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminViewAllUsers</servlet-name>
        <url-pattern>/adminAllUsersView</url-pattern>
    </servlet-mapping>

    <!-- Filters -->
    <filter>
        <display-name>CharsetFilter</display-name>
        <filter-name>CharsetFilter</filter-name>
        <filter-class>com.htp.avia_booking.filter.CharsetFilter</filter-class>
        <init-param>
            <param-name>characterEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharsetFilter</filter-name>
        <url-pattern>/FrontController</url-pattern>
    </filter-mapping>


    <filter>
        <display-name>UserSecurityFilter</display-name>
        <filter-name>UserSecurityFilter</filter-name>
        <filter-class>com.htp.avia_booking.filter.UserSecurityFilter</filter-class>
        <init-param>
            <param-name>characterEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>UserSecurityFilter</filter-name>
        <url-pattern>/admin</url-pattern>
    </filter-mapping>

</web-app>